
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background: var(--second-bg-color);
}

.about-img {
    position: relative;
    z-index: 10;
    transition: .5s ease;
    animation: moveImage 4s ease-in-out infinite;
}

.about-img img {
    width: 30vw;

}

.about-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15px;
    left: -10px;
    background: var(--bg-color);
    border: 1rem solid var(--main-color);
    border-bottom: none;
    z-index: -1;
}

.about-img:hover {
    transform: scale(1.05);
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    width: 85%;
}